//
/*header {
  display: inline-block;
  width: 100%;
  text-align: center;
}

nav {
  width: 100%;
}

nav ul {
  display: inline-flex;
}

nav ul li {
  width: 10em;
}

body {
  text-align: center;
  background-color: #B6DBB1;
  color: #264954;
}

footer ul li {
  display: inline-block;
  width: 20em;
}

//


img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

hr {
  margin: 1em;
  width: 80%;
}*/

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}
