.site-header {
  background: #FFEAAA;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  position: absolute;
  top: auto;
  right: 0%;
  size: 15%
  height: 50px;
  width: 50px;
}

.mainNav {
  padding: 0.1em;
}

.mainNav ul {
  /*display: none;*/
  padding: 0;
  list-style: none;
  clear: both;
}


.mainNav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 800px) {
  .mainNav li {
    display: inline;
  }
  .icon-menu {
    display: none;
  }
}
